<div
  class="text-center"
  style="position: absolute;
  height: 80%;
  width: 80%;
  cursor: move;
  z-index: 0;
  background-color: bisque;"
  mouseWheel
  (mousedown)="onMoveStart($event)"
  (mouseup)="onMoveEnd($event)"
  (mousemove)="onMoving($event)"
  (mouseenter)="mouseEnter($event)"
  (mouseleave)="mouseLeave($event)"
  (mouseWheelUp)="mouseWheelUp($event)"
  (mouseWheelDown)="mouseWheelDown($event)"
>
  <div
    style="
  width: 80%;
  height: auto;
  overflow: hidden;
  z-index: 1;
  text-align: center;
  top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  z-index: 1;
"
  >
    <div
      id="gamePlayArea"
      *ngFor="let tileonTable of tableInfo.tableInfo"
      [ngStyle]="{
        position: 'absolute',
        height: 'min-content',
        width: 'min-content',
        'left.px': tileSize * tileonTable.position.x + shift.x,
        'top.px': tileSize * tileonTable.position.y + shift.y
      }"
    >
      <div
        [ngStyle]="{
          position: absolute,
          'width.px': tileSize,
          'height.px': tileSize,
          display: 'block',
          background: 'url(../assets/Tiles/' + tileonTable.tile + '.png)',
          'background-size': 'cover',
          'background-repeat': 'no-repeat',
          transform: 'rotate(' + tileonTable.rotation + 'deg)'
        }"
      ></div>
    </div>

    <div
      id="placeTileArea"
      [ngStyle]="{
        position: 'absolute',
        height: 'min-content',
        width: 'min-content',
        'left.px': tileSize * pos.x + shift.x,
        'top.px': tileSize * pos.y + shift.y
      }"
      *ngFor="let pos of placePositions"
    >
      <div
        (click)="placeTileWithPos(pos.x, pos.y)"
        [ngStyle]="{
          position: absolute,
          'width.px': tileSize,
          'height.px': tileSize,
          display: 'block',
          background: 'url(../assets/place.jpg)',
          'background-size': 'cover',
          cursor: 'pointer'
        }"
      ></div>
    </div>
  </div>
</div>
